<%= simple_form_for @type_resource, :url => admin_type_resource_path(@type_resource.id),html: { id:'form-employee', class: 'form-horizontal' }, wrapper: :horizontal_form,
wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean } do |f| %>
  <%= f.error_notification %>

  <div class="panel">
    <div class="panel-heading">
      <span class="panel-title">Editar recurso</span>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-9">
          <%= f.input :name, label:'Nome'%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <%= f.input :max_quantity, as: :string, label:'Disponibilidade'%>
        </div>
      </div>

      <div class="panel-footer text-right">
        <input type="submit" name="commit" value="Salvar" id="save-user-btn" class="btn btn-primary" data-disable-with="Salvar">      
      </div>
    </div>

<% end %>