<div class="panel">
  <div class="panel-heading">
    <span class="panel-title">Detalhes do funcionário</span>
  </div>
  <div class='admin-form theme-primary'>
    <div class="panel-body">
      <div class="col-md-4">
       
      <div class="col-md-5">
        <div class="col-md-12 mb10">
          <b>Nome</b><br>
            <%= @employee.name %>
          </div>
        <div class="col-md-12 mb10">
          <b>E-mail</b><br>
            <%= @employee.email %>
          </div>      

      </div>
      
    </div>
  </div>
</div>

