
        <div class="row">
            <div class="col-md-4">
              <div class="panel panel-tile text-center br-a br-grey" style="background-color: #45936C;border-radius:10px;">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn" style="color:#fff"><%=Employee.all.count%></h1>
                  <h6 class="text" style="color:#fff">Funcionários</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-tile text-center br-a br-grey" style="background-color: #45936C;border-radius:10px;">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn" style="color:#fff"><%=Product.all.count%></h1>
                  <h6 class="text-success" style="color:#fff">Produtos</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-tile text-center br-a br-grey" style="background-color: #45936C;border-radius:10px;">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn" style="color:#fff"><%=@num_works.count%></h1>
                  <h6 class="text-warning" style="color:#fff">Em produção</h6>
                </div>
              </div>
            </div>       
         </div>
      

   